:root { 
--bluegray_50:#eaecf0; 
--red_600:#e7332b; 
--gray_900:#0f1728; 
--light_blue_A200:#36c5f0; 
--bluegray_100:#cfd4dc; 
--teal_400:#2eb67d; 
--gray_900_0c:#1018280c; 
--yellow_800:#ecb22e; 
--black_900:#000000; 
--bluegray_500:#667084; 
--bluegray_300:#98a1b2; 
--pink_600:#e01e5a; 
--white_A700:#ffffff; 
}